@using MASH
@using MASH.Models
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers

@model MASH.Models.DestinyModel;

<html>
<head>
    <title>M.A.S.H.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Special+Elite&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <header>
        <h1 class="">M.A.S.H.</h1>
        <h2>Your Results Are In...</h2>
    </header>

    <main class="body">

        <div id="results">
            <p>You will live in a:  @Html.DisplayText(MASH.Models.DestinyModel.randHouse)</p>
            <p>You will marry: @Html.DisplayText(DestinyModel.randSpouse)</p>
            <p>Your transportation is:  @Html.DisplayText(DestinyModel.randTranspo)</p>
            <p>You will be a(n):  @Html.DisplayText(DestinyModel.randJob)</p>
            <p>You will have a pet:  @Html.DisplayText(DestinyModel.randPet)</p>
        </div>

    </main>
</body>
</html>
