@using MASH
@using MASH.Models
@addTagHelper*, Microsoft.AspNetCore.Mvc.TagHelpers


@model MASH.Models.PageModel
<html>
<head>
    <title>M.A.S.H.</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400:700&family=Special+Elite&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="css/styles.css" />
</head>

<body>
    <header>
        <h1 class="">M.A.S.H.</h1>
        <h2 class="">Let's determine your destiny.</h2>
    </header>

    <main class="body">
        <div id="form" class="grid">
            <form class="choices" asp-controller="" asp-action="" method="post">

                <div id="spouse" class="box box1">
                    <h2 class="section-header">Life Partner</h2>

                    <select name="SilverSpouse" asp-items="@Model.SilverSpouseOptions"></select>
                    <select name="GoldSpouse" asp-items="@Model.GoldSpouseOptions"></select>
                    <select name="BronzeSpouse" asp-items="@Model.BronzeSpouseOptions"></select>
                    <input type="text" id="UserSpouse" name="UserSpouse" required/>

                </div>

                <div id="transportation" class="box">
                    <h2 class="section-header">Transportation</h2>

                    <select name="GoldTranspo" asp-items="@Model.GoldTranspoOptions"></select>
                    <select name="BronzeTranspo" asp-items="@Model.BronzeTranspoOptions"></select>
                    <select name="SilverTranspo" asp-items="@Model.SilverTranspoOptions"></select>
                    <input type="text" id="UserTranspo" name="UserTranspo" required/>

                </div>

                <div id="career" class="box box 3">
                    <h2 class="section-header">Career</h2>
                    
                    <select name="SilverJob" asp-items="@Model.SilverJobOptions"></select>
                    <input type="text" id="UserJob" name="UserJob" required/>
                    <select name="GoldJob" asp-items="@Model.GoldJobOptions"></select>
                    <select name="BronzeJob" asp-items="@Model.BronzeJobOptions"></select>

                </div>

                <div id="pet" class="box">
                    <h2 class="section-header">Pet</h2>
                    
                    <select name="BronzePet" asp-items="@Model.BronzePetOptions"></select>
                    <input type="text" id="UserPet" name="UserPet" required/>
                    <select name="GoldPet" asp-items="@Model.GoldPetOptions"></select>
                    <select name="SilverPet" asp-items="@Model.SilverPetOptions"></select>
                    

                </div>

                <button type="submit">Your Future Awaits</button>
            </form>
        </div>

    </main>
</body>
</html>